<div class="block">
  <div class="content">
    <h2>Home</h2>
    <div class="inner">
      <ul class="list">
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Messages', messages_path %></li>
      </ul>
    </div>
  </div>
</div>
